body {
    background-color: #191919;
    font-family: monospace, Arial, Helvetica, sans-serif
    /* background-image: url("./assets/FUNDO_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 150%; */
    
}

.icon-header {
    width: 100px;
    animation: rickMortyAnimation 2s infinite; 
}

/* @keyframes rickMortyAnimation {
    0% { transform: rotate(0); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0); }
  } */

  .text-style {
    color: black;
    animation: colorChange 3s infinite;
  }

  /* @keyframes colorChange {
    0% { color: #fff; }
      20% { color: #5cb85c; }
      40% { color: #7fc47f; }
      60% { color: #a2d9a2; }
      80% { color: #c5f3c5; }
      100% { color: #e8ffe8; }
  } */

.card {
    background-color: #EAFAF1;
    border-radius: 50px;
    height: 400px;
    max-width: 250px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
    background-color: #B9F4D3;
}

.card img {
    max-height: 200px;
}

footer {
    height: 400px;
}

h5 {
    white-space: nowrap; 
}
